.skill{
    background-color: rgb(8, 3, 84);
    width: 100%;
    height: 39.6rem;
    color: white;
    display: flex;
    flex-direction: row;
   
}
.skill-box1{
    margin-left:14rem;
    margin-top: 5rem;
}
.skill-box1>ul>li{
    font-size: 1.2rem;
}
.skill-box2{
   padding: 1rem;
    margin-left: 10rem;
    margin-top: 7rem;
}
.skill-box2>ul>li{
    font-size: 1.5rem;
}
